#box{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  width: 200px;
}
.email{
  color: rgb(74, 74, 74);
}
.address{
  font-size: 12px;
  color: gray;
}